*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: "Karma", sans-serif;
    line-height: 1.5;
    font-size: 62.5%;
    scroll-behavior: smooth !important;
}

:root{    
    --header-height: 70px;
    --header-color: #FFFAD7;
    --bg-color: #FCDDB0;
    --content-color: #820000;
    --title-color: #FFAE6D;
    --hover-color: #FECD70;
    --food-item-height: 400px;
}

.text-center{
    text-align: center;
}

.row{
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;   
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    /* height: 100%; */
}

/* .row::after{
    clear: both;
    display: block;
    content: "";
} */

.col{
    float: left;
}

.col-third{
    width: 33.33333%;
    padding-left: 8px;
    padding-right: 8px;
}

.col-four{
    width: calc( (100% - 160px) / 4 );
    margin-left: 20px;
    margin-right: 20px;
    height: var(--food-item-height);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-four img{
    flex: 1;
}

.col-four > .row{
    flex: 9;
    height: 100%;
}

.col-four h2{
    flex: 1;
    justify-self: center;
}

.col-four p{
    flex: 9;
    overflow: hidden
}

div[class *="page-"] {
    display: none;
    padding: 0;
}

.clear-a{
    text-decoration: none;
}

/* FONT SIZE CSS  */
.header-title_fs{
    font-size: 3rem;
}

.modal-title_fs{
    font-size: 3.4rem;
}

.text-title_fs{
    font-size: 2.6rem;

}

.text_fs_S{

}

.text_fs_M{
    font-size: 1.8rem;
}

.text_fs_L{
    font-size: 2.2rem;
}





/* Phan MAIN  */
#main{
    background-color: var(--bg-color);
    background-size: cover;
    width: 100%;
    top: 0;
    position: absolute;
}

/* phan header  */
#bg-header{
    height: 200px;
    width: 100%;
    background-color: var(--header-color);
    position: fixed;
    z-index: 1;
}

#bg-header video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px; */

}

#header{
    margin-top: 200px;
    /* background-color: var(--header-color); */
    background-color: var(--bg-color);
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}

#header .header-container{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    background-color: var(--header-color);
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: -10px 10px 20px rgb(0 0 0 / 50%);

}

.header-container  li{
    display: inline-block;
    height: inherit;
    line-height: var(--header-height);
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.center-title a, .header-container  li{
    color: var(--title-color);
    font-weight: 700;
}

.header-container > li > i{
    line-height: unset;
}

.center-title{
    cursor: pointer;
    flex: 6;
    order: 2;
}

.menu-title{
    flex: 1;
    order: 1;
}

.contact-title{ 
    flex: 1;
    order: 3;
}

.center-title span{
    display: inline-block;
    transition: font-size linear;
    /* transition-delay: attr(name)ms; */
}

/* .center-title:hover {
    font-size: 3.6rem;
    text-shadow: 5px 5px 10px var(--content-color);
    transform: translateY(5px);
    transition-delay: 50ms;
    z-index: 2;
    cursor: pointer;
    opacity: .6;
} */
.center-title:hover span{
    font-size: 3.6rem;
}

.menu-title:hover, .contact-title:hover{
    background-color: var(--hover-color);
    color: var(--content-color);
    cursor: pointer;
}



/* Phan than  */
#content{
    /* margin-top: 100px !important; */
    padding: 60px 64px 8px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* max-width: 1200px; */
    z-index: 2;
    position: relative;
    background-color: var(--bg-color);

}

.description{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    text-align: center;
}


        /* PHAN FOOD  */


.food{
    padding: 20px 200px;
}

.food-menu-container{
    padding-top: 30px;
    padding-bottom: 20px;
}

.food-items{
   background-color: var(--header-color);
   border-radius: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
   animation: appear linear;
   border: outset #FFAE6D 6px;
   transition: transform 1s linear;
   position: relative;

}

@keyframes appear {
    0%{
        transform: translateY(700px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.food-items:hover{
   
}
.food-items::after{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(255,255,255,0.06206232492997199) 0%, rgba(0,0,0,0.6951155462184874) 100%);
    height: 100px;
    width: 100%;
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
}

.more-info-line{
    display: inline-block;
    position: absolute;
    font-size: 16px;
    color: white;
    font-weight: 700;
    bottom: 30px;
    z-index: 4;  
    cursor: pointer;

}
.more-info-line::after{
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 10px;
    border-bottom: 1px solid white;
    left: 50%;
    transform: translateX(-50%);
    transition: width 1.2s linear;
}
.more-info-line:hover.more-info-line::after{
    width: 100px;
}
.more-info-line:hover.food-items{

}



.food-items:hover{
    transform: scale(1.2);
    cursor: pointer;
    box-shadow: 0 0 20px rgba(254, 140, 212, 0.5);
}

.food-container{
    margin-top: 20px;
}

.food-items img{
    width: 100%;
    border-radius: 14px;
}

.food-container::after{
    clear: both;
    content: "";
    display: block;
}

.food-title{
    font-weight: 600;
    color: var(--title-color);
}
     
.food-description{
    opacity: 0.7;
    letter-spacing: 2px;
    color: var(--content-color);
}

.food-description-container::after{
    clear: both;
    content: "";
    display: block;
}


/* Food zoom in  */
.food-information{
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.3);
    top: 0;
    left: 0;
    z-index: 15;
    position: fixed;
    display: none;
}  

.food-information-container{
    max-width: 800px;
    min-height: 500px;
    background-color: var(--header-color);
    position: relative;
    margin: auto;
    top: 10%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 70% 30%;
    border-radius: 10px;
    padding: 20px;
    border-top: #E3C770 solid 30px;

}

.food-information-image{
    width: 100%;

}

.info{
    display: grid;
    text-align: center;
    grid-template-rows: 30% 70%;
}

.food-information-slider{
    width: 100%;
    grid-column: 1/3;
    margin-top: 10px;
}

.food-information-slider::after{
    display: block;
    content: "";
    border-top: var(--hover-color) solid 4px;
    width: 600px;
    margin: auto;
}

.food-information-title{
    align-self: center;
    color: var(--title-color);
}

.food-information-description{
    letter-spacing: 2px;
    color: var(--content-color);
    opacity: 8;
}

/* Phan food button  */
.food-navi-container{
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.food-navi-container a{
    padding: 8px 16px;
    display: block;
    color: #F1A661;
    font-weight: 500;
}

.food-navi-container a:hover, .food-navi-container .chosen-btn{
    background-color: var(--title-color);
    color: var(--content-color);
}

.food-navi-container .chosen-btn:hover{
    background-color: #E3C770;
}

.navi-food{
}

/* Phan about */
.about-container{
    padding: 32px 16px;
}

.about-content-container{
    padding-top: 32px;
    /* padding-bottom: 32px; */
}

.about-break{
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid var(--header-color);
}

.about-image{
    margin: auto;
    max-width: 100%;
}

.random-btn{
    background-color: #000;
    color: #fff;
    padding: 30px;
    width: 20%;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
}
/* PHẦN FOOTER  */
#footer{
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer-title{
    text-transform: uppercase;
}

.blog-items{
   list-style: none;
}

.blog-items img{
    width: 50px ;
    float: left;
    margin-right: 16px;
}

.blog-items p{
}

.tag-name{
    background-color: #616161;
    padding-right: 8px;
    padding-left: 8px;
    margin-bottom: 16px;
    color: white;
    text-align: center;
    display: inline-block;
}

.footer-container .first{
    background-color: #000;
}

/* PHAN MENU MODAL  */
.menu-modal{
   background-color: rgba(1, 1, 1, 0.3);
   width: 100%;
   height: 100%;
   z-index: 10;
   position: fixed;
   left: 0;
   top: 0;
   display: none;
}

.menu-modal-container{
    background-color: var(--header-color);
    width: 30%;
    height: 100%;
    box-shadow: 0 0 30px rgba(1, 1, 1, 0.5);
    animation: FadeInX ease 0.5s;
    position: relative;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.menu-items-container{
    list-style: none;
    height: 480px;
    overflow: auto;
}


.menu-items-container::-webkit-scrollbar{
    display: none;
}

.menu-modal-title{
    color: var(--title-color);
    padding: 20px;
}

.menu-modal-title::after{
    background-color: var(--bg-color);
    display: block;
    width: 100%;
    height: 1px;
    content: "";
    margin-top: 10px;
}

.menu-items{
    padding: 20px;
    display: block;
    text-align: center;
}

.menu-items:hover{
    background-color: var(--hover-color);

}

.menu-food{
    display: block;
    color: var(--content-color);
}

.btn-container{
    position: relative;
    height: 88.5px;
}

.btn-container::before{
    background-color: var(--bg-color);
    display: block;
    width: 86%;
    height: 1px;
    content: "";
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.close-btn{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--hover-color);
    margin-right: 35px;
    margin-bottom: 20px;
    padding: 15px 40px;
    border-radius: 50px;
    cursor: pointer;
    color: var(--content-color);
}

.close-btn:hover{
    opacity: 0.5;
}

/* Phần contact modal  */
.contact-layer{
    position: fixed;
    background-color: rgba(1, 1, 1, 0.3);
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    top: 0;

}

.contact-container{
    position: relative;
    max-width: 700px;
    width: 90%;
    min-height: 400px;
    background-color: var(--header-color);
    top: 15%;
    margin: auto;
    border-radius: 20px;
}

.contact-content-container{
    list-style: none;
    padding: 6px 40px;
    width: 80%;
}

.contact-modal-title{
    color: var(--title-color);
    text-shadow: 0 0 10px var(--bg-color);
    font-weight: bold;
    text-align: center;
}

.contact-modal-title::after{
    display: block;
    content: "";
    border-top: var(--hover-color) solid 4px;
    width: 440px;
}

.contact-item{
    flex-direction: row;
    color: var(--content-color);
    padding: 0 8px 8px;
}

.contact-item.contact-link{
    justify-content: flex-start;
    margin-left: 40px;
}

.contact-link a {
    text-decoration: none;
}

.contact-link span{
    text-shadow: #FECD70 4px 4px 8px;
}

.contact-icon{
    /* padding: 2px; */
    background-color: var(--bg-color);
    color: var(--title-color);
}

.contact-text-title{
    flex: 3;
    padding: 4px;
    font-weight: 700;
    text-decoration: underline;
}

.contact-text{
    flex: 7;
    padding: 4px;
    font-weight: 500;
    color: var(--content-color);
}

.contact-close{
    position: absolute;
    background-color: rgba(255, 49, 36, 0.8);
    top: 10px;
    right: 20px;
    padding: 20px;
    border-radius: 40px;
    cursor: pointer;
}

.contact-close:hover{
    opacity: 0.7;
}

.to-top-btn{
    background-color: var(--content-color);
    padding: 30px;
    border-radius: 30px;
    width: 20px;
    position: fixed;
    right: 10;
    bottom: 10;
    z-index: 20;
}

.to-top-btn:hover{
    opacity: 0.8;
    cursor: pointer;
}

.open{
    display: unset !important;
}

.loading{
    animation: Rotate infinite 4s linear ;
    animation-delay: 0ms;
}

@keyframes FadeInX{
    from{
        opacity: 0.3;
        transform: translateX(-150px);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes FadeOutX{
    from{
        opacity: 1;
        transform: translateX(0);
    }
    to{
        opacity: 0;
        transform: translateX(-150px);
    }

}

@keyframes Rotate{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}


            /* PHẦN RESPONSIVE */

/* Mobile1: 646px < width < 740px */
@media only screen and (min-width: 40.375em) and (max-width: 46.1875em) {
    html{
        font-size: 50%;
    }

    .col-four{
        flex-direction: row;
        width: calc( (100% - 40px) );
    }

    .row{
        width: 100%;
        align-items: unset;
    }
    .row h2{
        width: 100%;
        flex: 1;
    }
    .row p{
        width: 100%;
        flex: 9;
    }

    .menu-modal-container{
        width: 60%;
    }

    .food-items{
        /* width: 100%; */
        margin-bottom: 20px;
        margin-top: 20px;
        /* border: 2px white dashed; */
    }

    .food-items p{
        overflow: hidden;
    }

    .food-items > img{
        width: 40%;
        float: left;
        position: relative;
        border: 6px white solid;  
    }

    .food-items > .loading{
        border: none;        
        top: -14px; 
    }

    .food-title, .food-description{
        float: right;
        width: 58%;
        margin-left: 5px;
    }

   .footer-container{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
   }

   .footer-container .footer-title{
        text-align: center;
   }

   .footer-container .footer{
        text-align: right;
        margin-top: 15px;
        margin-bottom: 15px;
   }

   .tag-container{
        margin-top: 15px;
   }

   .row{
        padding-right: 0;
        padding-left: 0;
    }

    .food-items:hover{
        transform: none;
        box-shadow: none;
    }

    :root{
        --food-item-height: 220px;
    }

    .center-title a:hover{
        transform: none;
        font-size: unset;
    }

    .center-title {
        flex: 6;
        order: 2;
    }

    .menu-title {
        flex: 2;
        order: 1;
    }

    .contact-title {
        flex: 2;
        order: 3;
        padding-right: 10px;
        padding-left: 10px;
    }

    .menu-items-container{
        height: 480px;
    }

    .description{
        text-align: left;
    }
}

/* MOBILE2: width < 646px */
@media only screen and (max-width: 40.374em) {
    html{
        font-size: 13px;
    }

    .col-four{
        flex-direction: row;
        width: calc( (100% - 40px) );
    }

    .row{
        width: 100%;
        align-items: unset;
    }
    .row h2{
        width: 100%;
        flex: 1;
    }
    .row p{
        width: 100%;
        flex: 9;
    }

    .menu-modal-container{
        width: 60%;
    }

    .food-items{
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
        /* border: 2px white dashed; */
        overflow: hidden;
    }

    .food-items > img{
        width: 40%;
        float: left;
        position: relative;
        border: 6px white solid; /* can tinh  */
    }

    .food-items > .loading{
        border: none;        
        top: 20px;
    }

    .food-title, .food-description{
        float: right;
        width: 58%;
        margin-left: 5px;
    }

    .food-description-container{
    }
/* 
    .food-items::before{
        display: block;
        content: "+";
        position: absolute;
        color: #f24976;
        background-color: lightpink;
        border-top-left-radius: -101px;
        border-radius: 30px;
        line-height: 30px;
        font-size: 30px;
        padding: 5px 10px;
        z-index: 1;
        transform: translateX(0px);
    } */

   .footer-container{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
   }

   .footer-container .footer-title{
        text-align: center;
   }

   .footer-container .footer{
        text-align: right;
        margin-top: 15px;
        margin-bottom: 15px;
   }

   .tag-container{
        margin-top: 15px;
   }

   .row{
        padding-right: 0;
        padding-left: 0;
    }

    .food-items:hover{
        transform: none;
        box-shadow: none;
    }

    :root{
        --food-item-height: 220px;
    }

    /* .header-title_fs {
        font-size: 25px;
    } */

    .center-title a:hover{
        transform: none;
        font-size: unset;
    }

    .center-title {
        flex: 6;
        order: 2;
    }

    .menu-title {
        flex: 2;
        order: 1;
    }

    .contact-title {
        flex: 2;
        order: 3;
        padding-right: 10px;
        padding-left: 10px;
    }

    .menu-items-container{
        height: 480px;
    }

    .description{
        text-align: left;
    }
}

/* TABLET: width >= 740px and width < 1024px  */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    html{
        font-size: 60%;
    }

    :root{
        --header-height: 70px
    }

    .menu-modal-container{
        width: 45%;
    }
    
    .col-four{
        width: calc( (100% - 80px) / 2 );
    }

    .contact-container{
        /* min-height: 560px; */
    }
    
    .menu-items-container{
        height: 470px;
    } 

    .btn-container{
        height: 140px;
    }

    .close-btn{
        padding: 25px 50px;
        margin-bottom: 60px;
    }

    .food-items{
        overflow: hidden;
        position: relative;
    }

    .food-items::before{
        display: block;
        content: "+";
        line-height: 40px;
        font-size: 50px;
        padding: 10px 20px;
        top: 10px;
        left: 10px;
        position: absolute;
        color: #f24976;
        background-color: lightpink;
        border-top-left-radius: -101px;
        border-radius: 30px;
    }

    .food-items:hover{
        transform: none;
        box-shadow: none;
    }


    .food-navi-container a{
        padding: 16px 32px;
    }

    .center-title {
        flex: 5;
        order: 2;
    }

    .menu-title {
        flex: 2;
        order: 1;
    }

    .contact-title {
        flex: 2;
        order: 3;
        padding-right: 10px;
        padding-left: 10px;
    }


} 